<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.o-le.lip"
        versionCode="2" 
        version   = "2.0.1">

    <name>LIP App 2</name>

    <description>
        lernen ist persoenlich 
    </description>

    <author href="http://klaus.hammermueller.at" email="klaus@hammermueller.at">
        CC 3.0 AT BY SA NC
    </author>
	<icon src="icon.png" />
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/network"/>	
</widget>
